.fav-btn {
	width: 49.07px;
	height: 49.07px;
	background-color: #ffffff;
	border-radius: 8px;

	img {
		width: 23.98px;
		height: 21.98px;
	}

	&.thumb {
		width: 350px;
		height: 350px;
	}
}
